---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

<!-- {%- if site.posts.size > 0 -%}
 -->
  <ul class="posts">
    <li>
      <h1 id="posts-label">Education</h1>
    </li>

    <img src ="/pics/ucb.svg" align ="left" width = "50" height="50"><h1 id="unv"><font size="5"> &nbsp;&nbsp;University of California, Berkeley</font></h1>
    <p>  <font style="line-height:150%;"> Degree: Master of Engineering <br> Major: Computer Science <br>Advisor: Alexandre Bayen <br> Courses: Machine Learning, Artificial Intelligence, Advanced Robotics, Computer Vision, Deep Reinforcement Learning, Deep Unsupervised Learning, Deep Neural Network, Geometry and Learning for 3D Vision</font> </p>

    <img src ="/pics/nju.svg" align ="left" width = "48" height="48"><h1 id="unv"><font size="5"> &nbsp;&nbsp;Nanjing University</font></h1>
    <p> <font style="line-height:150%;"> Degree: Bachelor of Engineering <br> Major: Electrical Engineering <br>Advisor: Zhan Ma <br>Courses: Data Structure and Algorithms, Digital Image Processing, Database Principle, Semiconductor Devices, etc. </font> </p>

  </ul>

  <ul class="posts">
    <li>
      <h1 id="posts-label">Skills</h1>
      <p> <font style="line-height:150%;"> <b>Programming Languages:</b> Python, C++, C, Matlab<br> <b>Techniques&Tools:</b> ROS, Linux, CUDA, PyTorch, Tensorflow, OpenCV, SUMO, Solidworks, Altium Designer </font> </p>

    </li>
  </ul>

  <ul class="posts">
    <li>
      <h1 id="posts-label">Work Experience</h1>
      <img src ="/pics/sensetime.png" align ="left" height="30"><h1 id="unv"><font size="5"> &nbsp;&nbsp;SenseTime </font></h1>
    <p> <font style="line-height:150%;"> Department: Autonomous Driving <br> Responsibility: Research on data augmentation with image translation <br>Advisor: Mingyang Huang </font> </p>
    </li>
  </ul>
   
  <ul class="posts">
    <li>
      <h1 id="posts-label">Research Experience</h1>
      <h1 id="research"><font size="5" style="line-height:150%;"> 
       Arbitrary Image-to-Image Translation via Feature Adaptive Denormalization </font></h1>
    <img src ="/pics/weather.jpg" align ="left"  height="130" width="200">
    <ul> 
                <font style="line-height:150%;"><li>Worked in the VLE (Virtual Learning Evaluation) team to develop image translation models for the data augmentation of autonomous driving </li> <li>Designed and implemented a novel model based on SPADE using Python and PyTorch</li> <li>The model can transfer the content image to arbitrary styles which are controllable by the style images and achieve better FID performance than the previously published models</li> <li>2nd Author Patent, Multi-style Image Generation with Adaptive Encoder, In application</li> </font> </ul>
    <h1 id="research"><font size="5" style="line-height:150%;"> Instance-level Image Synthesis from Single Label Map</font></h1>
    <img src ="/pics/cityscapes.jpg" align ="left"  height="130" width="200">
    <ul> <font style="line-height:150%;"> <li>Developed a model which can generate more realistic images from semantic segmentation generated by the simulator</li> <li>Designed sub-modules to generate important instances (e.g. Vehicles and pedestrians in the autonomous driving scenario),then fill and blend the well-generated instances into the background</li> <li>The mAP (mean Average Precision) of object detection result on the virtual data our model generated is 3% higher than the previous models</li> </font> </ul>
    

    <h1 id="research"><font size="5" style="line-height:150%;"> 3D Object Detection in Autonomous Driving </font></h1>
    <img src ="/pics/realsense.png" align ="left"  height="100" width="200">
    <ul> <font style="line-height:150%;"> <li>Research on performing reliable and accurate 3D perception with one or multiple RGB images </li> <li>Trying to deploy the 3D object detection system to our real autonomous driving car<br><br><br></li> </font> </ul>
    
    <h1 id="research"><font size="5" style="line-height:150%;"> Pixel learning with deep-RL for mixed autonomy traffic </font></h1>
    <img src ="/pics/flow.png" align ="left"  height="130" width="200">
    <ul> <font style="line-height:150%;"> <li>Conducted research on FLOW framework (https://flow-project.github.io) </li> <li>Developed a real-world single circular lane system including the control and communication system of model cars</li> <li>Transferred the deep-RL algorithms (PPO, SAC) from the virtual simulation environment to the real environment<br><br><br></li> </font> </ul>

    <h1 id="research"><font size="5" style="line-height:150%;"> Video Frame Prediction </font></h1>
    <img src ="/pics/vfp.svg" align ="left"  height="100" width="200">
    <ul> <font style="line-height:150%;"> <li>Worked in a streaming media team to develop a model to predict future video frames and then reduce the bitstream </li> <li>Designed a neural network to utilize the deviation of the sequence of optical flows for a better prediction</li> <li>Achieved 31.2dB for average PSNR and 0.96 for average SSIM on the test of UCF-101 dataset </li> <li>1st Author Publication, Looking-ahead: Neural Future Video Frame Prediction, IEEE ICIP2019<br></li> </font> </ul>

    <h1 id="research"><font size="5" style="line-height:150%;"> Gigapixel Panorama Image Stitching  </font></h1>
    <img src ="/pics/stitching.png" align ="left"  height="80" width="200">
    <ul> <font style="line-height:150%;"> <li>Worked on a project for the application of the future Panoramic TV and VR panoramic live broadcast </li> <li>Resolved the problems related to C++ multithreading optimization and CUDA parallel programming</li> <li>Successfully increased the speed by 15 times from 30s to 1.9s for stitching six images with the resolution of 3000×4000<br></li> </font> </ul>

    </li>
  </ul>


<ul class="posts">
    <li>
      <h1 id="posts-label">Project Experience</h1>

    <h1 id="project"><font size="5" style="line-height:150%;"> Janux: An Operating System for Autonomous City  </font></h1>
    <img src ="/pics/janux.jpg" align ="left"  height="130" width="200">
    <ul> <font style="line-height:150%;"> <li>Constructed an automatic system to transform real-world map (Google Map) to SUMO models </li> <li>Research on multi-agent policy by abstracting the road system into concrete modules</li>  <br><br><br></font> </ul>


    <h1 id="project"><font size="5" style="line-height:150%;"> Baxter Fruit Picking  </font></h1>
    <img src ="/pics/baxter.png" align ="left"  height="150" width="200">
    <ul> <font style="line-height:150%;"> <li>Our project uses a Baxter machine to identify and selectively retrieve fruit from a table for storage in a packing bin. We find our project interesting because it achieves successful grasping of desired objects in a scene without having to input information about the shape or pose of the object. Although we used fruits as a simplifying scenario, we believe our system to be adaptable to a more general set of objects given more hardware and minor modification of the grasp and detection subsystems. We believe our work to be useful in situations where particular items need to be selectively retrieved among a greater collection of objects. One such example may be in a production line, where various items of different type need to selected for processing/packaging.  </li></font> </ul>

    <h1 id="project"><font size="5" style="line-height:150%;"> RoboMaster Robotics Competition  </font></h1>
    <img src ="/pics/rm.png" align ="left"  height="130" width="200">
    <ul> <font style="line-height:150%;"> <li>Led a team to design a self-planning, autonomously controlled robot in a projectile shooting competition </li> <li>Designed the mechanical structure and the circuits of the robot, implemented the robot control and vision system with ROS<br><br><br><br></li>  </font> </ul>

    <h1 id="project"><font size="5" style="line-height:150%;"> Drones Automatic Tracking  </font></h1>
    <img src ="/pics/drone.jpeg" align ="left"  height="130" width="200">
    <ul> <font style="line-height:150%;"> <li>Led a team to design the control system of the drone to track a model car </li> <li>Implemented the visual perception system to detect the AR-tag to locate the model car<br><br><br><br></li>  </font> </ul>

    <h1 id="project"><font size="5" style="line-height:150%;"> Anti-scattered Superconducting Single-photon Detector  </font></h1>
    <img src ="/pics/detector.png" align ="left"  height="120" width="200">
    <ul> <font style="line-height:150%;"> <li>Aimed to control the reception of different frequency signals by using the gate-driven source meter to remove the atmospheric scattering noise </li> <li>Responsible for programming the driver of the gate-driven source meter</li> 
    <li> Achieved the national first prize in the Challenge Cup<br><br></li> </font> </ul>

     <h1 id="project"><font size="5" style="line-height:150%;"> Automatic Control of Experimental Animal Room  </font></h1>
     <img src ="/pics/animal.png" align ="left"  height="120" width="200">
    <ul> <font style="line-height:150%;"> <li>Utilized the Internet of Things to design an automatic system to control the environment of the animal room to meet the national regulations </li> <li>Responsible for processing the signals from various sensors and designing the automated control scheme<br><br><br></li> </font> </ul>

    <h1 id="project"><font size="5" style="line-height:150%;"> NAO Robot Golf  </font></h1>
    <img src ="/pics/nao.png" align ="left"  height="100" width="200">
    <ul> <font style="line-height:150%;"> <li>Aimed to proceed golf game among NAO robots </li> <li>Responsible for establishing the overall program framework including the robot’s decision, motion, angle measurement and recognition</li> </font> </ul>
    </li>
  </ul>

<ul class="posts">
    <li>
      <h1 id="posts-label">Student Club Experience</h1>

    <h1 id="project"><font size="5" style="line-height:150%;"> President, Robotics Lab
  </font></h1>
    <ul> <font style="line-height:150%;"> <li>Recruited undergraduates and graduates who are interested in robotics </li> <li>Responsible for lab administration and management</li> <li>Led lab members to take an active part in the robotics research and competition</li>  </font> </ul>
    <h1 id="project"><font size="5" style="line-height:150%;"> Director, Electronic Technology Innovation Club</font></h1>
    <ul> <font style="line-height:150%;"> <li>Responsible for some administrative affairs related to technology lectures and experiments</li> </font> </ul>

    <h1 id="project"><font size="5" style="line-height:150%;"> Director, Microsoft Student Club
  </font></h1>
    <ul> <font style="line-height:150%;"> <li>Coordinated with other universities in Nanjing and held the Hackathon activities</li> <li>Organized technology workshops</li> <li>Received the honor of outstanding officer granted by MSRA</li>  </font> </ul>

    
    </li>
  </ul>


  <ul class="posts">
    <li>
      <h1 id="posts-label">Honors</h1>
      <ul><font style="line-height:150%;"><li>National First Prize of the Challenge Cup</li>
        <li>Third Prize of the RoboMaster Robotics Competition</li>
        <li>Outstanding Capacity Prize of the People’s Scholarship in China</li>
        <li>Third Prize of the People’s Scholarship in China</li>
        <li>First Prize of the Nanjing University Entrepreneurship Competition</li></font> 
      </ul>
    </li>
  </ul>

  <ul class="posts">
    <li>
      <h1 id="posts-label">posts</h1>
    </li>

    {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          <ul class="post-categories">
            {%- for tag in post.categories -%}
              <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
          <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}</div>
        </div>
        <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%}
  </ul>

  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
